{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="col-sm-6">123</div>
                <div class="col-sm-6">456</div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
